:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

body {
  font: 18px 'Public Sans', sans-serif !important;
  /*background-color: var(--Dark-Blue) !important;*/
}
.mobile-menu .ui.grid {
  margin-top: 0px !important;
}

.menu {
  background-color: var(--White);
}
.menu .ui.grid>.row {
  padding: 0px;
}
.menu-mobile-float {
  background-color: var(--White);
  width: 200px !important;
  border-radius: 14px;
  padding: 10px 50px;
}
.menu-button {
  opacity: 1;
  color: var(--White) !important;
  background: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan)) !important;
  border-radius: 1.4rem !important;
  font-weight: 700 !important;
  padding: 14px 36px !important;
}

.ui.compact.menu .item:last-child {
  border-radius: 0px !important;
}
.space-button{
  padding-left: 0px !important;
}
.menu-button:hover {  
  opacity: 0.5;
}
.ui.secondary.pointing.menu .item {
  margin-top: 14px !important;
  border-color: var(--White) !important;
  color: var(--Grayish-Blue) !important;
  font-weight: 400 !important;
  padding-bottom: 26px !important;
  transition: color 150ms ease-in-out !important;
}
.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .item:hover {
  border-color: var(--Lime-Green) !important;
  color: var(--Dark-Blue) !important;
  font-weight: 400 !important;
}

.text-information {
  background-color: var(--Light-Grayish-Blue);
  font-weight: 300;
  color: var(--Grayish-Blue);
  font-size: 0.9rem; 
  padding: 44px 0px !important;
}
.next-mobile,
.text-next {
  background-color: var(--Very-Light-Gray) !important;
  font-family:'Public Sans', sans-serif !important;
  font-weight: 400 !important;
  color: var(--Grayish-Blue);
  width: 100%;
}
.text-next-row {
  padding: 0px !important;
}
.text-next .text-next-background {
  background: url(/images/bg-intro-desktop.svg) no-repeat;
  background-origin: content-box ;
  background-position:  13% 60% ;
  background-size: 170% ;
  height: 600px ;
  padding: 0px ;
}
.text-next .text-next-img {
  position: relative;
  z-index: 1;
  height: 700px ;
  background: url(/images/image-mockups.png) 95px -105px no-repeat;
  background-size: auto 115% ;
  background-origin: content-box ;
}
 .ui.grid>.row>.column.text-next-background>img {
  max-width: none;
}
.text-next h2 {
  font-size: 3rem !important; 
  font-family:'Public Sans', sans-serif !important;
  font-weight: 400 !important;
  color: var(--Dark-Blue) !important;
  padding-bottom: 25px !important;
}
.text-next .menu-button {
  display: block !important;
  margin-top: 39px !important;

}
.ui.grid>.row.next-mobile {
  padding-top: 0px;
}
.next-mobile {
  background-color: var(--Very-Light-Gray);
}
.next-mobile .next-mobile-background {
  background: url(/images/bg-intro-mobile.svg) top right no-repeat;
  background-size: auto 100% ;
  padding: 0px 8px!important;
}
.next-mobile .next-mobile-background .next-mobile-img {
  height: 420px !important;
  width: 100%;
  background: url(/images/image-mockups.png) center -105px no-repeat;
  background-size: 100% auto ;
  background-origin: content-box ;
}
.next-mobile-row .menu-button {
  margin-top: 39px !important;
  margin-bottom: 20px !important;
}
.text-articles {
  background-color: var(--Very-Light-Gray);
  font-family:'Public Sans', sans-serif !important;
  padding: 44px 0px !important;
}
.next-mobile-row h2,
.text-articles h3,
.text-information h3 {
  font-size: 1.6rem !important; 
  font-family:'Public Sans', sans-serif !important;
  font-weight: 400 !important;
  color: var(--Dark-Blue) !important;
}
.text-information h4 {
  font-size: 0.9rem !important; 
  font-family:'Public Sans', sans-serif !important;
  font-weight: 300 !important;
  color: var(--Dark-Blue) !important;
  padding-bottom: 16px !important;
}
.ui.card>.image>img, 
.ui.cards>.card>.image>img {
  max-height:173.25px;
  height:auto;
}
.ui.card, .ui.cards>.card {
box-shadow: none !important;
}
.ui.card>.content, 
.ui.cards>.card>.content {
border-top: 0px;
}
.text-articles .ui.card>.content>.header, 
.text-articles .ui.cards>.card>.content>.header {
  font-size: .8rem !important; 
  font-weight: 300 !important;
  color: var(--Grayish-Blue) !important;
  padding: 12px 0px;
}
.text-articles .ui.card .meta, .ui.cards>.card .meta {
  font-size: 1rem !important; 
  font-weight: 400 !important;
  color: var(--Dark-Blue) !important;
  padding-bottom: 3px;
  cursor: pointer;
}
.footer-main {
  top: 10px !important;
  padding-top: 34px !important;
  padding-bottom: 0px !important;
}
.text-articles .ui.card .meta:hover, 
.ui.cards>.card .meta:hover {
  color: var(--Lime-Green) !important;
}
.text-articles .ui.card>.content>.description {
  font-size: .9rem !important; 
  font-weight: 400 !important;
  color: var(--Grayish-Blue) !important;
}
.footer-pag {
  background-color: var(--Dark-Blue);
}
.footer-menu-list {
  display: inline-block !important;
  margin: 0 80px 0 0 !important;
}
.footer-menu-list a {
  color: var(--White) !important;
  font-size: 1rem !important;
  font-weight: 300 !important;
  margin: 10px 0px !important;
  transition: color 150ms ease-in-out;
}

.footer-pag .footer-all-rights {
  color: var(--Grayish-Blue);
  font-size: 0.9rem !important;
  padding-top: 20px !important;
}
.footer-menu-list a:hover {
  color: var(--Lime-Green) !important;
}
.footer-menu {
  top: -10px;
}
.footer-img {
  margin-bottom: 30px;
}
.footer-pag i.icon  {
  color: var(--White) !important;
  transition: color 150ms ease-in-out;
}
.footer-pag i.icon:hover {
  color: var(--Lime-Green) !important;
}
.footer-pag-right {
  padding: 0px !important;
}
.attribution {
  font-size: 0.8rem; 
  text-align: center;
  color: var(--White);
}
.attribution a { 
  color: var(--White);  
  margin-left: 3px;
}
.attribution a:hover { 
  color: var(--Grayish-Blue);
}
div#mobile-bar i.icon  {
  color: var(--Dark-Blue) !important;
}
div#mobile-bar img {
  cursor: pointer;
}
.menu-mobile-float .ui.link.list a.item,
.menu-mobile-float .link.list a.item:hover {
  color: var(--Dark-Blue) !important;
}
.mobile-menu-hamburguer {
  display: inline-flex;
  width: 24px;
  height: 19px;

  vertical-align: middle;
}

@media only screen and (min-width: 1200px) {
  .text-next .text-next-information {
    width: 423px !important;
    margin-right: 140px !important;
    margin-left: auto !important;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .text-next .text-next-information {
    width: 349px !important;
    margin-right: 117px !important;
    margin-left: auto !important;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .text-next .text-next-information {
    width: 362px !important;
    margin-right: 90px !important;
    margin-left: auto !important;
  }
}
@media only screen and (max-width: 767px) {
  div#mobile-logo  {
    text-align: left !important;
  }

  div#mobile-bar  {
    text-align: right !important;
    height: 19px;
  }
  .ui.card>.content {
    text-align: left !important;
  }
  .ui.grid>.row>[class*="right aligned"].column.column,
  .ui.grid>[class*="right aligned"].column.column,
  .ui.grid>[class*="right aligned"].row>.column,
  .ui[class*="right aligned"].grid>.column,
  .ui[class*="right aligned"].grid>.row>.column,
  .ui.grid>.row>[class*="left aligned"].column.column,
  .ui.grid>[class*="left aligned"].column.column,
  .ui.grid>[class*="left aligned"].row>.column, 
  .ui[class*="left aligned"].grid>.column, 
  .ui[class*="left aligned"].grid>.row>.column {
    text-align: center !important;
  }
  .attribution {
    margin-top: 15px;
  }
  .footer-menu-list {
    display: block !important;
    margin: 0px !important;
  }
  .menu-mobile {
    width: 100% !important;
  }
}
